body {
  height: 100vh;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 2rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;;
}

.text-1 {
  font-size: 3rem;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.text-2 {
  font-size: 4.5rem;
  color: white;
  letter-spacing: -3px;
  // font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
  // font-family: 'Heebo', sans-serif;
}

.text-3 {
  font-size: 2.5rem;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-family: 'Poppins', sans-serif;
}

.text-4 {
  font-size: 1rem;
  color: white;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-left: 2rem;
  margin-right: 12rem;
}
