<body class="landing-body">


  <div class="black-container">
    <div class="text-container">
      <div class="intro-text">
        <h2 class="text-1">Hello, I'm</h2>
        <h2 class="text-2">Kelton Hale</h2>
        <h2 class="text-3">Front End Developer</h2>
      </div>
      <p class="text-4">I am passionate about self growth, problem solving, and development. I take great appreciation
        in my
        hard work and my efforts to always be better!</p>
      <button class="contact-btn">Contact Me</button>
    </div>
  </div>



  <div class="right-container">
    <div class="open-nav">
      <img src="../../assets/images/bars-solid.svg" alt="" class="menu-small">
    </div>

    <div class="bitmoji-container">
      <img class="bitmoji-img" src="../../assets/images/IMG_1540.PNG" alt="">
      <button class="work-btn">See My Work</button>
    </div>
  </div>
</body>
