a {
  font-family: monospace;
  font-size: 1rem;
  writing-mode: vertical-rl;
  -webkit-transform:rotate(180deg);
}

.instagram-logo {
  height: 25px;
  width: 25px;
  margin-bottom: 1rem;
}

.github-logo {
  height: 25px;
  width: 25px;
}

.logo-container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 8%;
  // background-color: rgb(57, 171, 253);
  padding-top: 40px;
}

.nav-listItem {
  list-style: none;
  margin: .5rem 0rem;

  cursor: pointer;
}


@media only screen and (max-width: 830px) {
 * {
  display: none;
  visibility: hidden;
 }

 .nav {
  visibility: none;
  display: none;
 }
}
