<head>
  <script src="https://kit.fontawesome.com/a65dae75dc.js" crossorigin="anonymous"></script>
</head>

<ul class="nav navbar-nav">
  <li class="nav-listItem" (click)="goToHome()">
    <a>KELTON</a>
  </li>
  <li class="nav-listItem" (click)="goToSkills()">
    <a>SKILLS</a>
  </li>
  <li class="nav-listItem" (click)="goToProjects()">
    <a>PROJECTS</a>
  </li>
  <li class="nav-listItem" (click)="goToContact()">
    <a>CONTACT</a>
  </li>
  <li class="nav-listItem">
    <a>RESUME</a>
  </li>

  <div class="logo-container">
    <img class="instagram-logo" src="../../assets/icons/instagram-brands.svg" alt="">
    <img src="../../assets/icons/github-brands.svg" alt="" class="github-logo">
  </div>
</ul>
