a {
  font-family: monospace;
  font-size: 1rem;
  writing-mode: vertical-rl;
  -webkit-transform:rotate(180deg);
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 75px;
  // background-color: rgb(57, 171, 253);
  background-color: red;
}

.nav-listItem {
  list-style: none;
  margin: 1rem 0rem;
}
