<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>
<div class="content">
  <!-- <ul class="nav navbar-nav">
    <li class="nav-listItem">
      <a (click)="goToHome()">Home</a>
    </li>
    <li class="nav-listItem">
      <a (click)="goToAboutUs()">About Me</a>
    </li>
    <li class="nav-listItem">
      <a (click)="goToProjects()">Projects</a>
    </li>
  </ul> -->


  <app-landing id="targetHome"></app-landing>
  <app-about-us id="targetSkills"></app-about-us>
  <app-new-projects id="targetProjectsNew"></app-new-projects>
  <app-contact id="targetContact"></app-contact>
  <app-projects id="targetBottom"></app-projects>
  <!-- <router-outlet></router-outlet> -->

</div>
