<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>
<div class="content">
  <div class="small-nav">
    <img class="small-nav-logo" src="../assets/images/bars-solid.svg" alt="" (click)="openNav()">
  </div>
  <div id="mySidenav" class="sidenav" [ngClass]="{'active-nav': navOpen === true}">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a class="side-link" href="#">KELTON</a>
    <a class="side-link" href="#">SKILLS</a>
    <a class="side-link" href="#">PROJECTS</a>
    <a class="side-link" href="#">CONTACT</a>
    <a class="side-link" href="#">RESUME</a>
  </div>
  <app-landing id="targetHome"></app-landing>
  <app-about-us id="targetSkills"></app-about-us>
  <app-new-projects id="targetProjectsNew"></app-new-projects>
  <app-contact id="targetContact"></app-contact>
  <app-projects id="targetBottom">
  </app-projects>
  <!-- <router-outlet></router-outlet> -->
  <div class="absoluteeeeeee">
    <h2 class="linear-wipe">HALE PRODUCTIONS</h2>
  </div>
</div>
