<div class="content">
  <!-- <ul class="nav navbar-nav">
    <li class="nav-listItem">
      <a (click)="goToHome()">Home</a>
    </li>
    <li class="nav-listItem">
      <a (click)="goToAboutUs()">About Me</a>
    </li>
    <li class="nav-listItem">
      <a (click)="goToProjects()">Projects</a>
    </li>
  </ul> -->


  <app-landing id="targetHome"></app-landing>
  <app-about-us id="targetAbout"></app-about-us>
  <app-projects id="targetProjects"></app-projects>
  <!-- <router-outlet></router-outlet> -->

</div>
