/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.black-container {
  background-color: black;
  margin-left: 8%;
  height: 100vh;
  width: 43%;
}

body {
  background-color: rgb(57, 171, 253);
}
